# MongoDB Atlas Database Connection String Template
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/musicStudio?retryWrites=true&w=majority

# Server Port
PORT=3000

# JWT Token Secret Key
JWT_SECRET=jaiak_studio_super_secret_key_2026
